// bower:scss
// endbower

@import "lib/mixin";
@import "lib/var";
@import "compass/utilities/general/clearfix";

.track {
  width: 90%;
  margin: 0 auto;
  padding: 2.5% 0 5%;
  text-align: center;
}

.paused {
  .track-cover {
    opacity: 0.5;
  }
}

.track-title {
  display: table;
  width: 100%;
  font-family: 'Istok Web', sans-serif;
  font-size: 1.5em;
  height: $track_title_height;
  color: $track_title_color;
  h1 {
    display: table-cell;
    vertical-align: middle;
  }
}

.track-cover {
  @include circular($sm-radius);
  @media screen and (min-width: 40em) {
    @include circular($mid-radius);
  }
}

/* Loading effect */
.loader {
  margin-top: $track_title_height;
  display: inline-block;
  width: $sm-radius*2;
  height: $sm-radius*2;
  @media screen and (min-width: 40em) {
    width: $mid-radius*2;
    height: $mid-radius*2;
  }
} 

#loader-inner { 
  fill: #fff; 
  fill-opacity: 0.25;
}

#loader-outer { 
  fill: #000; 
  fill-opacity: 0.15;
}

#nprogress {
  .bar {
    height: 4px !important;
    background: $prog_color !important;
  }
  .peg {
    box-shadow: 0 0 10px $prog_color, 0 0 5px $prog_color !important;
  }
}
