// bower:scss
// endbower

@import 'lib/var';

// progress bar
#nprogress {
  .bar {
    height: 4px !important;
    background: $prog_color !important;
  }
  .peg {
    box-shadow: 0 0 10px $prog_color, 0 0 5px $prog_color !important;
  }
}

// track
.track {
  .paused {
    .track-cover {
      opacity: 0.5;
    }
  }
}

  .track-title {
    font-family: 'Istok Web', sans-serif;
    font-size: 1.2rem;
    margin: 0 0 20px;
  }

  .track-cover {
  }

  .track-source {
    color: $track_source_color;
    margin-top: 20px;
    text-align: center;

    p {
      font-size: 0.8rem;
    }
  }
    .source-url {
      color: inherit;

      &:hover {
       color: $track_source_link_hover_color; 
       text-decoration: underline;
      }
    }

// shortcuts
.shortcuts {
  padding-top: 25%;
  .key {
    font-size: 0.65rem;
  }
    kbd {
      display: inline-block;
      width: 4rem;
      text-align: center;
      margin-right: 5px;
    }
}

.shortcuts-key {
  text-align: left;
}


// /* Loading effect */
// .loader svg {
//   position: absolute;
//   top: 53px;
//   left: 50%;
//   display: block;
//   width: $sm-radius*2;
//   height: $sm-radius*2;
//   -webkit-transform: translateX(-50%);
//   transform: translateX(-50%);
//   pointer-events: none;
//   @media screen and (min-width: 40em) {
//     width: $mid-radius*2;
//     height: $mid-radius*2;
//   }
// }

// #loader-inner { 
//   fill: #fff; 
//   fill-opacity: 0.25;
// }

// #loader-outer { 
//   fill: #000; 
//   fill-opacity: 0.15;
// }
