// bower:scss
// endbower

@import 'lib/var';

// progress bar
#nprogress {
  .bar {
    height: 4px !important;
    background: $prog_color !important;
  }
  .peg {
    box-shadow: 0 0 10px $prog_color, 0 0 5px $prog_color !important;
  }
}

// track
.track {
  .paused {
    .track-cover {
      opacity: 0.5;
    }
  }
}

  .spinner {
    margin: 50% auto 0;
    width: 3rem;
    height: 60px;
    text-align: center;
    font-size: 10px;
  }

  .spinner > div {
    background-color: #7F8C8D;
    height: 100%;
    width: 0.4rem;
    display: inline-block;
    
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
  }

  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }

  @-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }

  @keyframes stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    } 20% {
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }

  .track-title {
    font-family: 'Istok Web', sans-serif;
    font-size: 1.2rem;
    margin: 2rem 0 1.5rem;
  }

  .track-cover {
    border: 0;
  }

  .track-source {
    color: $track_source_color;
    margin-top: 20px;
    text-align: center;

    p {
      font-size: 0.8rem;
    }
  }
    .source-url {
      color: inherit;

      &:hover {
       color: $track_source_link_hover_color; 
       text-decoration: underline;
      }
    }

// shortcuts
.shortcuts {
  padding-top: 25%;
  .key {
    font-size: 0.65rem;
  }
    kbd {
      display: inline-block;
      width: 4rem;
      text-align: center;
      margin-right: 5px;
    }
}

.shortcuts-key {
  text-align: left;
}
