// bower:scss
// endbower

@import 'lib/mixin';

*, *:before, *:after {
  box-sizing: inherit;
}

/* Apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

.wrap {

}

.fixed_footer {
  width: 95%;
  position: fixed;
  bottom: 10px;
  left: 2.5%;
}
