<div class="row track">
  <div class="small-12 columns">
    <div ng-show="initializing" class="track-init">
      <div class="loader">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="500" height="500" viewbox="0 0 500 500">
          <path id="loader-outer" transform="translate(250, 250)"/>
          <path id="loader-inner" transform="translate(250, 250) scale(0.9)"/>
        </svg>
      </div>
    </div>

    <div ng-hide="initializing" ng-class="{true:'playing', false:'paused'}[playing]" >
      <h2 class="track-title"> {{ track.title }} </h2>
      <img ng-src="{{ cover }}" class="track-cover">
    </div>

    <video style="display:none" id="blackdog-player" src="" class="video-js vjs-default-skin" autoplay preload="auto" width="400" height="400" >
    </video>    
  </div>
</div>

<script>
  var loader = document.getElementById('loader-inner')
        , border = document.getElementById('loader-outer')
        , α = 0
        , π = Math.PI
        , t = 15
        
        , tdraw;

      function PieDraw() {
        α++;
        α %= 360;
        var r = ( α * π / 180 )
        , x = Math.sin( r ) * 250
        , y = Math.cos( r ) * - 250
        , mid = ( α > 180 ) ? 1 : 0
        , anim = 'M 0 0 v -250 A 250 250 1 ' 
               + mid + ' 1 ' 
               +  x  + ' ' 
               +  y  + ' z';

        loader.setAttribute( 'd', anim );
        border.setAttribute( 'd', anim );
        
        tdraw = setTimeout(PieDraw, t); // Redraw
      }

      PieDraw();
</script>