<section class="row">

  <main class="small-6 small-offset-3 columns track">

    <div ng-show="initializing" class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>

    <div ng-hide="initializing" ng-class="{true:'playing', false:'paused'}[playing]"  class="text-center">
      <h1 class="track-title subheader text-center"> {{ track.title }} </h1>
      <a href="{{track.sourceUrl}}" class="track-cover" target="_blank">
        <img ng-src="{{ cover }}">
      </a>
      <div ng-show="playing" class="track-source">
        <p>
        source:
          <a href="{{track.sourceUrl}}" class="source-url">
            {{track.sourceUrl}}
          </a>
        </p>
      </div>
      <video class="hide" id="blackdog-player" src="" class="video-js vjs-default-skin" autoplay preload="auto" width="0" height="0" >
      </video>
    </div>

  </main>

  <aside class="small-3 columns shortcuts show-for-medium-up">

    <div ng-hide="initializing">

      <ul class="shortcuts-key no-bullet">
        <li>
          <p class="key"><kbd>space</kbd>Play or Pause</p>
        </li>
        <li>
          <p class="key"><kbd>right</kbd>Skip</p>
        </li>
        <li>
          <p class="key"><kbd>Up</kbd>Turn up the volume</p>
        </li>
        <li>
          <p class="key"><kbd>Down</kbd>Turn down the volume</p>
        </li>
      </ul>

    </div>
  </aside>
</section>